[Unit]
Description=MPD last.fm scrobbler
Requires=mpd.service
After=mpd.service

[Service]
Type=idle
ExecStart=/usr/bin/mpdscribble -D

[Install]
WantedBy=multi-user.target
