[Unit]
Description=Shairport Sync Metadata 
After=network.target redis.target shairport-sync.service
Requires=shairport-sync.service

[Service]
ExecStart=/srv/http/bash/shairport-meta.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
