[Unit]
Description=Shairport Sync Metadata 
After=network.target redis.target shairport-sync.service

[Service]
ExecStart=/srv/http/bash/shairport-meta.sh

[Install]
WantedBy=multi-user.target
