[Unit]
Description=UPnP Renderer front-end to MPD
After=network-online.target mpd.service mpd.service
Wants=network-online.target

[Service]
User=upmpdcli
Type=simple
ExecStart=/usr/bin/taskset -c 3 /usr/bin/upmpdcli -c /etc/upmpdcli.conf
Restart=always
RestartSec=1min

[Install]
WantedBy=multi-user.target
